:root {
  --background-dark-blue: rgb(33, 41, 81);
  --dark-blue: rgb(12, 25, 56);
  --blue: rgb(33, 62, 155);
  --light-blue: rgb(73, 122, 203);

  --white: rgb(255, 255, 255);
  --light: rgba(255, 255, 255, 0.743);
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
