:root {
  --dark-blue: #0c1938;
  --light-blue: #497acb;
  --blue: #213e9b;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  font-size: 1.6rem;
}
