.container {
  width: 95%;
  height: max-content;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.information {
  color: var(--white);

  h1 {
    font-size: 60px;
    margin-bottom: 5px;
  }
}

.date {
  display: flex;
  gap: 10px;
  font-size: 24px;

  span:last-child {
    border-left: 1px solid var(--white);
    padding-left: 10px;
  }
}

.search {
  display: flex;

  input {
    width: 600px;
    height: 55px;
    margin-right: 20px;
    padding: 10px;

    font-size: 16px;

    border: none;
    border-radius: 12px;
    position: relative;
  }

  button {
    width: 120px;
    height: 55px;

    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    right: 90px;
  }
}

.lightSearch {
  input {
    background-color: var(--white);
    color: gray;
  }

  button {
    color: var(--white);
    background-color: var(--blue);
  }
}

.darkSearch {
  input {
    background-color: var(--background-dark-blue);
  }

  input::placeholder {
    color: var(--light);
  }

  button {
    color: var(--background-dark-blue);
    background-color: var(--light);
  }
}
