.container {
  width: 95%;
  height: max-content;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.information {
  color: var(--white);

  h1 {
    font-size: 60px;
    margin-bottom: 5px;
  }
}

.date {
  display: flex;
  gap: 2px;
  font-size: 24px;

  span:last-child {
    border-left: 1px solid var(--white);
    padding-left: 2px;
  }
}

.shearch {
  display: flex;

  input {
    width: 550px;
    height: 50px;
    margin-right: 20px;
    padding: 10px;

    font-size: 16px;
    color: gray;

    border: none;
    border-radius: 8px;
    position: relative;
  }

  button {
    width: 100px;
    height: 50px;

    border: none;
    border-radius: 8px;

    color: var(--white);
    background-color: var(--blue);

    font-size: 16px;
    position: absolute;
    right: 90px;
  }
}
